* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #fffffc;
}

.footer {
    background-color: #d9ed92;
}

.footerTexto{
    color: #168aad;
}

.redesSociales i {
    color:#168aad;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #168aad;
}

.logo {
    width: 250px;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fafafa;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    font-size: 50px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}

p {
    margin: 15px 10px 15px;
    font-size: 20px;
    text-align: center;
}


.contenedorImagen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 30px;
    border-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}


.redesSociales {
    color: blue;
    text-transform: none;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.redesSociales i {
    font-size: 40px;
    padding: 0px 20px 0px 20px;
}

.redesSociales i:hover {
    scale: 1.1;
    transition: 4000;
}

.copy {
    font-size: small;
}

.content-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 18rem;
    margin: 1rem;
}

.card-img-top {
    width: 150px;
    height: 300px;
}

.contenedorCurso {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.tituloDeCursos{
    text-align: center;
}

.contenedorPadreLi {
    text-align: center;
}

.beneficiosAlimentacion {
    text-decoration: none;
}


@media (max-width: 768px) {
    .card {
        width: calc(50% - 2rem);
    }
    .contenedorCurso {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .card {
        width: calc(100% - 2rem);
    }
    .contenedorCurso {
        flex-direction: column;
    }

    .contenedorVideo{
        display: flex;
        justify-content: center;
        transform: scale(0.9);
    }
}