
*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #b5e48c;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #168aad;
    position: sticky;
    top: 0;
}

.logo {
    width: 250px;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fafafa;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    font-size: 50px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}

p {
    margin: 15px 10px 15px;
    font-size: 20px;
    text-align: center;
}

.cultivo {
    
}
.contenedorImagen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 30px;
    border-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}


.redesSociales {
    color: blue;
    text-transform: none;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.redesSociales i {
    font-size: 40px;
    padding: 0px 20px 0px 20px;
}

.redesSociales i:hover {
    scale: 1.1;
    transition: 4000;
}

.copy {
    font-size: small;
}